torture.generator.nseqs           3000
torture.generator.memsize         8192
torture.generator.fprnd           0
torture.generator.amo             true
torture.generator.mul             true
torture.generator.divider         true
torture.generator.segment         true
torture.generator.loop            true
torture.generator.loop_size       64

torture.generator.mix.xmem        5
torture.generator.mix.xbranch     5
torture.generator.mix.xalu        10
torture.generator.mix.fgen        20
torture.generator.mix.fpmem       10
torture.generator.mix.fax         10
torture.generator.mix.fdiv        10
torture.generator.mix.vec         0
torture.generator.mix.rvv         30

torture.generator.vec.vf          1
torture.generator.vec.seq         10
torture.generator.vec.memsize     128
torture.generator.vec.numsregs    64
torture.generator.vec.mul         false
torture.generator.vec.div         false
torture.generator.vec.mix         true
torture.generator.vec.fpu         false
torture.generator.vec.fma         false
torture.generator.vec.fcvt        false
torture.generator.vec.fdiv        false
torture.generator.vec.amo         false
torture.generator.vec.seg         false
torture.generator.vec.stride      false
torture.generator.vec.pred_alu    true
torture.generator.vec.pred_mem    true

torture.generator.vec.mix.valu    20
torture.generator.vec.mix.vpop    60
torture.generator.vec.mix.vmem    20
torture.generator.vec.mix.vonly   0

torture.generator.rvv.vmem_unit   true
torture.generator.rvv.vmem_const  true
torture.generator.rvv.vmem_vect   true
torture.generator.rvv.Zvlsseg     false
torture.generator.rvv.Zvamo       false
torture.generator.rvv.vfloat      true
torture.generator.rvv.vinteger    true
torture.generator.rvv.vfixed      true
torture.generator.rvv.vreduce     true
torture.generator.rvv.vmask       true
torture.generator.rvv.vpermute    true
torture.generator.rvv.wide        true
torture.generator.rvv.narrow      true
torture.generator.rvv.masking     true

torture.generator.rvv.multi_cfg   true
torture.generator.rvv.vlen        64
torture.generator.rvv.lmul        2
torture.generator.rvv.sew         32
torture.generator.rvv.nr          1
torture.generator.rvv.nf          1

torture.testrun.maxcycles         1000000
torture.testrun.virtual           false
torture.testrun.seek              false
torture.testrun.dump              false
torture.testrun.vec               false
torture.testrun.rvv               true

torture.overnight.errors          1
torture.overnight.minutes         1
torture.overnight.outdir          output/failedtests
torture.overnight.email           your@email.address
